@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffe6a7;
  --foreground: #282a29;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffe6a7;
    --foreground: #282a29;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: 'JetBrain';
  src: url("./fonts/JetBrainsMono-VariableFont_wght.ttf");
}

@font-face {
  font-family: 'FiraBold';
  src: url("./fonts/FiraSansCondensed-Bold.ttf");
}

@font-face {
  font-family: 'FiraMedium';
  src: url("./fonts/FiraSansCondensed-Medium.ttf");
}


.space{
  word-spacing: 10px;
}

