@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffe6a7;
  --foreground: #282a29;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: 'JetBrain';
  src: url("./fonts/JetBrainsMono-VariableFont_wght.ttf");
}
